.taskContainer {
    width: 100%;
    max-width: 48rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 4rem;
}

.title {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--blue-500);
}

.title span {
    width: 24px;
    height: 19px;
    border-radius: 999px;
    background-color: var(--gray-400);
    color: #FFF;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.title + .title {
    color: var(--purple-500); 
}